.tileLayout {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 0.5rem !important;
    transition: transform 0.2s ease-in-out;
}

.tileLayout:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.sapMGTContent {
    background: transparent !important;
}